body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)), url("https://t4.ftcdn.net/jpg/08/23/43/67/360_F_823436793_VM9tnDmtKQaRAMX9L8NtqITQIxbhjHWk.jpg");
    background-size: cover;
   background-attachment: fixed;
}
.container {
    max-width: 380px; 
    max-height:550px ;
    margin: 30px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255,0.3);
    box-shadow: 6px 6px 6px 6px rgba(0.5, 0.5, 0.5, 0.5);
}
h1 {
    text-align: center;
    color:  white;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    font-size: 1.5rem;
    color:white;
}
input, textarea, button {
    padding: 10px;
    width: 350px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 1rem;
}
input:focus, textarea:focus {
    outline: none;
    border-color: #009688;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
}
button {
    background-color: #009688;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #047267;
}

.info {
    text-align: center;
    margin-top: 10px;
}
.info p {
    margin: 3px 0;
    color:white;
}
.info a {
    color: #029c95;
    text-decoration: none;
}
.info a:hover {
    text-decoration: underline;
}
