body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: linear-gradient(to right,  #5bfab8, #029c95);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.service {
    background: #f8f9fa;
    padding: 20px;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.service i {
    font-size: 40px;
    color: white;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 15px;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta {
    background: linear-gradient(to right, #82a98a, #1df18b);
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #5bfab8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
     background-color: #05b9a4;
}
